@media (max-width: 480px), (max-width: 768px), (max-width: 1024px) {
    .container {
        align-items: center;
        text-align: center;
    }

    .header .nav {
        display: none;
    }

    .nav-mobile nav {
        display: block;
    }
    .slidesbanner img {
        width: 100%;
        height: 100vh;
    }
    /* sach */
    .product_sach {
        width: 100%;
        display: flex;
        align-items: center;
        text-align: center;
    }
    .product_sach .row .col-md-3 {
        width: 47%;
        border-style: solid;
        border-radius: 16px;
    }
    .product_sach .col-md-3 img {
        margin-top: 12px;
        border-style: solid;
        border-radius: 12px;
        width: 100%;
        transition: transform 0.6s;
    }

    .product_sach .col-md-3:hover img {
        transform: translateY(-10%);
    }
    .product_sach .col-md-3:hover p {
        color: white;
        transform: translateY(-20%);
    }
    /* web */
    .product_web {
        width: 100%;
    }

    .product_web .col-md-3 {
        width: 47%;
        transition: none;
    }

    .product_web .col-md-3 h2 {
        font-size: 20px;
        color: red;
    }
    .product_web .col-md-3:hover {
        background-color: #313866; /* Giữ nguyên màu nền ban đầu */
    }

    .product_web .col-md-3:hover h2 {
        transform: none; /* Không thay đổi vị trí */
        background-color: inherit;
        color: red;
        border-top: none;
    }
    .product_web .col-md-3:hover p {
        transform: none; /* Không thay đổi vị trí */
        background-color: inherit;
        color: white; /* Giữ nguyên màu chữ ban đầu */
        border-top: none;
    }
    /* hoptackinhdoanh */
    .sukienketnoikinhdoanh {
        width: 100%;
    }
    .sukienketnoikinhdoanh .col-md-3 {
        width: 47%;
    }
}

@media (max-width: 480px) {
    .footer-content-img {
        display: flex;
        flex-direction: column;
    }
    .footer-content-img img {
        height: 100px;
        width: 200px;
    }
}
